doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Christopher Towner

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Christopher Towner
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.png', alt='A Sprinting Towner')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Christopher
                        span.text-primary Towner
                    .subheading.mb-5
                        | Austin, TX 78730 · 
                        a(href='mailto:christopher.allen.towner+recruit@gmail.com') christopher.allen.towner+recruit@gmail.com
                    p.lead.mb-5
                        | A versatile polyglot with over a decade of enterprise-level project experience. Aggressive in accomplishing goals with a competitive spirit. Extremely familiar with roles and methodologies in a variety of environments. Passionate for the craft and engaged in emerging technologies. Known for being an effective communicator, meticulous documenter, and instinctive leader.
                    .social-icons
                        a.social-icon(href='https://linkedin.com/in/christophertowner')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/christopwner')
                            i.fab.fa-github
                        a.social-icon(href='https://gitlab.com/christopwner')
                            i.fab.fa-gitlab
                        a.social-icon(href='https://www.buymeacoffee.com/christopwner')
                            i.fas.fa-coffee

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 Comcast
                            ul
                                li Maintain and develop web services and platforms for multiple divisions.
                                li Privide deep analysis of varied data sets using machine learning.
                                li Interview and mentor developers for team.
                        .flex-shrink-0
                            span.text-primary November 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Cloud Software Engineer
                            .subheading.mb-3 iHeartMedia
                            ul
                                li Led project for calculating royalties on a Big Data tech stack.
                                li Implemented web service integrations between multiple platforms.
                                li Built-out custom monitoring capabilities for cloud and on-premise resources.
                                li Provided in-depth analytics of logs over multiple platforms.
                                li Designed test cases, code coverage and static code analysis as well as peer reviews.
                                li Automated pipelines for build, test, and deployment on a variety of tech stacks.
                                li Interviewed engineering and business candidates for team.
                                li Maintained operations of servers in production and test.
                                li Setup infrastructure as code for deployments and maintenance.
                                li Cross-trained other depts on monitoring, operations, and development.
                        .flex-shrink-0
                            span.text-primary April 2017 - November 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Enterprise Software Architect
                            .subheading.mb-3 root9b
                            ul
                                li Redesigned flagship product using a n-tier architecture, a RESTful web service, a relational database schema with persistence layer, and standards conformance.
                                li Defined department objectives and methodology as a process engineer.
                                li Coordinated CI/CD for department using latest technologies.
                        .flex-shrink-0
                            span.text-primary February 2015 - December 2016

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Neumont University
                            .subheading.mb-3 Bachelor of Science - Computer Science
                            ul
                                li Full-stack development, dual-tracked in Java and C#.
                                li Completed degree in three years.
                                li Curriculum emphasis on team management, software architecture, and interoperability.
                                li Active in clubs for rock climbing and homebrew operating systems.
                                li Member of student services and school librarian.
                        .flex-shrink-0
                            span.text-primary August 2005 - December 2008

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-windows
                        li.list-inline-item
                            i.fas.fa-database
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-git
                    .subheading.mb-3 Key Notes
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Over 15 years of Java and C# experience.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Hands-on with all modern databases, Big Data tech stacks, Business Intelligence suites and Machine Learning.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Strong background in CI/CD, containerization, linting, static code analysis, and testing frameworks/strategies.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Familiar with information security, on-premise and cloud infrastructure, custom monitoring, logging analytics and networking.

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I'm a hobbyist game developer/hacker in my free time. At the moment, I'm working on a C++ game using Unreal Engine. I also created an aimbot earlier this year that used Java to embed pixels into the game's artwork and track movement through screen caps.
                    div.media
                        div.media-body.align-self-center
                            h5.mr-3
                                | Prototype 2D Spaceship MMO (2018)
                        div.embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(src="https://streamable.com/e/mrsi8l" allowfullscreen)
                    p.mt-3
                        | For the past two years, I've competed in hack-a-thons. I've synthesized AI generated voices for targeted advertising and created a custom crypto currency based on media usage from a webservice. The AI voice won best engineering.
                    p.mb-0
                        | When taking a break from developing, I enjoy spending time with my wife and family, creating 3D art in Blender, and consuming all forms of media.

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')